{% extends 'base.html' %}
{% load static %}
<title>{% block title %} {{data.blog_title}} {% endblock %}</title>

{% block content %} 

<style>
    .imagebg{
        background-image: url('{{data.image.url}}');
        width: 100%;
        height: 60vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .usericon{
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 100%;
    }
    a{
        text-decoration: none;
    }
    .description{
        text-align: justify;
    }
    
</style>

<div class="container-fluid imagebg">
    <div class="inner p-5 text-light">
        <h1 class="text-light">{{data.blog_title}}</h1>
        <h4>Tags - {% for i in data.tags.all %} #{{i}}  {% endfor %}</h4>
    </div>
</div>

<div class="container my-4" data-aos="zoom-in">
    <h2>About {{data.blog_title}}</h2>
    <hr>
    <div class="row">
        <div class="col-lg-8">
            <p class="description">{{data.description|safe}}</p>
            <p>Creation date - {{data.created_at|date:"d/m/y"}} {{data.created_at|time:"P"}}</p>
            
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#sharemodal">
                Share this Blog <i class="fa-solid fa-share"></i>
              </button>

            
        </div>
        <div class="col-lg-4">
            {% if similar_posts %}
            <h3>Similar Tags Blogs</h3>
            <hr>
            <div class="row">
                {% for i in similar_posts %}
                
                {% if data.blog_title == i.blog_title %}
                    {% else %}
                    <div class="col-lg-12">
                        <img src="{{i.image.url}}" style="width: 100%; height: 300px; object-fit: cover;" alt="">
                        <h4>{{i.blog_title}} </h4>
                        <a class="btn btn-outline-primary" href="{% url 'readmore' i.blog_slug %}">Read More</a>
                        <hr>
                    </div>
                    {% endif %}
                {% endfor %}

            </div>
            {% else %}

            <h3>No similar tag blogs</h3>
            {% endif %}
        </div>
    </div>
</div>


<div class="container mb-5" id="Comments">
    <h3>Comments- </h3>
    <hr>
    <div class="commentform ">
        <form action="{% url 'addcomment' %}" method="post">
            {% csrf_token %}
            <span class="d-flex justify-content-center"> <input type="text" name="comment" placeholder="Add Comments" class="form-control w-25" id=""> <input type="text" name="slug" value="{{data.blog_slug}}" id="" hidden> &nbsp; &nbsp;<button class="btn btn-success" type="submit">Add Comment</button></span>
        </form>
    </div>
    {% for comment in data.blog_comments.all %}
        <div class="innerdivcomment">
            <div class="row">
                <div class="col-lg-12">
                    <p class="fs-4"><img src="{% static 'images/usericon.jpg' %}" class="usericon" alt=""> {{comment.user}} - <span class="text-end">{{comment.Comment}}</span> &nbsp; <a href="{% url 'commentlike' data.blog_slug comment.id %}"> {% if user in comment.comment_likes.all %} <i class="fa-solid fa-heart" style="color: #ff0000;"></i> {% else %} <i class="fa-regular fa-heart" style="color: #ff0000;"></i> {% endif %} </a>{{comment.number_of_comment_likes}} {% if user == comment.user %} &nbsp;&nbsp;  <a href="{% url 'deletecomment' data.blog_slug comment.id %}"><i class="fa-solid fa-trash" style="color: #d26a6a;"></i></a>  {% endif %}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div class="modal fade" id="sharemodal" tabindex="-1" aria-labelledby="sharemodalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Share This blog with your friends Via Email</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         <form action="{% url 'share' %}" method="post">
            {% csrf_token %}
            <label for="">Email</label>
            <input type="email" name="email" placeholder="Enter Email to share this blog" class="form-control" id="" required>
            <input type="text" name="slug" value="{{data.blog_slug}}" id="" hidden>
            <textarea id="pagelink" name="pagelink" cols="30" rows="10" hidden></textarea>
            <script>
                document.getElementById('pagelink').innerHTML = window.location.href
            </script>
            <br>
            <button class="btn btn-success" type="submit">Share</button>
         </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 
